.md-unstyled-image img{
  max-width: 100%;
  width: auto;
  height: auto !important; /* needs to be important because md-card also sets it that way */
}

.title{
    font-weight: bold;
}

.card-header{
  margin-bottom: 5px;
  height: 100px;
}

.active a{color:red;}

.authorName{
  font-size: 12px;
}

.img-article{
    height: 293px;
    /* width: 445px; */
    /* margin:2px; */
    /* float: left; */
    /* padding-left: 20%; */
    /* margin: auto; */
    /* width: 100%; */
}

.mat-card{
  /* margin-left: 25px; */
  display: inline-block;
  height:500px;
  width: 28%;
  margin: 22px;
  vertical-align: top;
  cursor: pointer;
  /* margin-bottom: 10px; */
}
