<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center;">
  <img height="200px" width="200px" alt="Angular Logo" src="assets\nytimes-logo-copy.jpg">
</div>
<div style="display:block">
  <h2 style="text-align: center; cursor: pointer;">
    <span class="headerRow" routerLink="/most-popular-articles" routerLinkActive="active-link">Most Popular</span>
    <span class="headerRow">|</span>
    <span class="headerRow" routerLink="/top-stories" routerLinkActive="active-link">Top Stories</span>
    <span class="headerRow">|</span>
    <span class="headerRow" routerLink="/search" routerLinkActive="active-link">Search</span>
    <span class="headerRow">|</span>
    <!-- <span class="headerRow" routerLink="/community" routerLinkActive="active-link">Community</span>
    <span class="headerRow">|</span> -->
    <span class="headerRow" routerLink="/movie-reviews" routerLinkActive="active-link">Movie Reviews</span>
    <span class="headerRow">|</span>
    <span class="headerRow" routerLink="/archives" routerLinkActive="active-link">Archives</span>
  </h2>
</div>



<router-outlet class="page-section" ></router-outlet>
